*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
#section{
    width: 100%;
}
#division{
    width: 90%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#form{
    width: 40%;
    background-color: rgb(230, 146, 146);
    margin-left: 5%;
    padding: 20px;
}
.label{
    font-weight: 900;
}
.input{
    padding: 2%;
    width: 95%;
    border-radius: 5px;
    border: none;
}
button{
    padding: 5px;
    margin-top: 8px;
    width: 95%;
    color: white;
    background-color: black;
}
.new_bg{
    background-color: yellowgreen;
    color: white;

}